{% extends "master.html" %}
{% block title %}Result{% endblock %}


{% block content %}
    <div class='container'>
        <h3 class="text-center">Classification Result</h3>
        {% if classification_result=='neither' %}
            <p class="text-center"> Sorry, I can only classify a dog or a human! </p>
        {% else %}
            {% if classification_result[0]=='dog' %}
                <p class="text-center"> I detect a/an {{ classification_result[1]|safe }} dog! </p>
            {% else %}
                <p class="text-center"> I detect a human face resembling a/an {{ classification_result[1]|safe }} dog! </p>
            {% endif %}
        {% endif %}
        <div style="text-align: center;" class="mb-5">
            <img src={{img_path}} alt="error" width=300></img>
        </div>
    </div>

{% endblock %}
